/.ipynb_checkpoints
/.vscode
/Aula02/Untitled.ipynb
/Aula02/prof Variaveis, entradas e saidas exercicios.ipynb
/Aula02/prof Variaveis, entradas e saidas.ipynb
/Aula02/Untitled.ipynb
/Aula01/.ipynb_checkpoints
