/.ipynb_checkpoints
/.vscode
/Aula01/Untitled.ipynb
/Aula01/prof Variaveis, entradas e saidas exercicios.ipynb
/Aula01/prof Variaveis, entradas e saidas.ipynb
/Aula01/Untitled.ipynb
/Aula01/.ipynb_checkpoints
